/* style the primary stage. doesn't work, gotta move to another separate css file later. */
.rootPane {
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-border-color: #ffffff;
	-fx-border-width: 2;
	-fx-border-style: solid;
}

#draggableNode {
	-fx-opacity: 0.0;
}

#HBox {
	-fx-background-color: #000000;
	-fx-background-radius: 10px;
	-fx-border-color: #ffffff;
	-fx-border-radius: 10;
	-fx-padding: 8px;
	-fx-opacity: 0.7;
}

#junkButton {
	-fx-background-color: #000000;
	-fx-background-radius: 25px;
	-fx-text-fill: #ffffff;
	-fx-border-color: #ffffff;
	-fx-border-radius: 20px;
	-fx-opacity: 0.7;
}

#junkButton:focused {
	-fx-opacity: 1.0;
	-fx-border-width: 2;
	-fx-effect: innershadow(gaussian, white, 15, 0, 0, 0);
}

#junkButton:hover {
	-fx-opacity: 1.0;
	-fx-effect: innershadow(gaussian, white, 15, 0, 0, 0);
}